body {
    background-color: #d7fde0;
    color: black;
}

h1 {
    text-align: center;
}

.centrar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

h5 {
    display: flex;
    justify-content: center;
}