body {
    background-color: #005D15;
    color: white;
}

h1 {
    text-align: center;
}

.centrar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.producto {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 10px;
    width: 50%;
    margin: 10px;
    background-color: #efeded;
    color: black;
    margin-left: 25%;
}

h5 {
    display: flex;
    justify-content: center;
}